<div class="container" *ngIf="book">
  <div class="card shadow-sm border-0">
    <div class="row g-0">
      <div class="col-md-4 text-center">
        <img
          [src]="book.coverImageUrl && book.coverImageUrl.trim() !== '' ? book.coverImageUrl : 'https://dummyimage.com/200x300/cccccc/000000&text=No+Image'"
          class="img-fluid rounded-start p-3"
          alt="Book image"
        />
      </div>

      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title">{{ book.name }}</h3>
          <p class="card-text"><strong>Author:</strong> {{ book.author }}</p>
          <p class="card-text"><strong>ISBN:</strong> {{ book.isbn }}</p>
          <p class="card-text"><strong>Published Year:</strong> {{ book.publishedYear }}</p>
          <p class="card-text"><strong>Description:</strong><br>{{ book.description }}</p>
          <p class="card-text"><strong>Quantity:</strong> {{ book.quantity }}</p>

          <span class="badge fs-6 mb-2" [ngClass]="{
            'bg-success': book.quantity > 0,
            'bg-danger': book.quantity <= 0
          }">
            {{ book.quantity > 0 ? 'Available' : 'Not Available' }}
          </span>

          <div class="mt-3">
            <button
              *ngIf="isLoggedIn && !isAdmin && !hasAnyBorrowedBook()"
              [disabled]="book.quantity <= 0"
              class="btn btn-primary"
              (click)="borrow(book.id)">
              Borrow
            </button>

            <div *ngIf="isLoggedIn && !isAdmin && hasAnyBorrowedBook()" class="text-danger mt-2">
              You already have a borrowed book. Return it before borrowing another.
            </div>

            <button
              *ngIf="!isLoggedIn"
              class="btn btn-primary"
              (click)="goToLogin()">
              Login to Borrow
            </button>
          </div>

          <div class="mt-4">
            <a class="btn btn-outline-primary" routerLink="/book-list">← Back to Book List</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div *ngIf="successMessage" class="alert alert-success mt-4 text-center">
  {{ successMessage }}
</div>
<div *ngIf="errorMessage" class="alert alert-danger  text-center">
  {{ errorMessage }}
  <div *ngIf="!isLoggedIn" class="alert alert-info mt-4 text-center">
  <strong>Want to borrow this book?</strong><br>
  Please <a routerLink="/login" class="text-decoration-none">login</a> to borrow books from the library.
</div>

</div>
