nav{
   
    background-color: #c1121f;
}
a{
    font-size: 25px;
    color: #fff;
}
a:hover{
    background-color: #e2a2a6;
}
.nav-link.active {
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 4px;
}
