<div class="container mt-5">
  <h2>Register</h2>

  <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
  <div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>

  <form (ngSubmit)="register()">
    <div class="mb-3">
      <label>Name</label>
      <input type="text" class="form-control" [(ngModel)]="name" name="name" required>
    </div>

    <div class="mb-3">
      <label>Email</label>
      <input type="email" class="form-control" [(ngModel)]="email" name="email" required>
    </div>

    <div class="mb-3">
      <label>Password</label>
      <input type="password" class="form-control" [(ngModel)]="password" name="password" required>
    </div>

    <!-- <div class="mb-3">
      <label>Role</label>
      <select class="form-control" [(ngModel)]="role" name="role">
        <option value="Member">Member</option>
        <option value="Admin">Admin</option>
      </select>
    </div> -->

    <button type="submit" class="btn btn-success">Register</button>
  </form>
</div>
